/* Padding and Margin */
$base-dimension: 8px;
$directions: ("t": "top", "b": "bottom", "l": "left", "r": "right");
$pairs: ("x": ("left", "right"), "y": ("top", "bottom"));

@for $i from 0 through 5 {
  .p-#{$i} { padding: $i * $base-dimension !important; }
  .m-#{$i} { margin: $i * $base-dimension !important; }

  @each $short, $long in $directions {
    .p#{$short}-#{$i} { padding-#{$long}: $i * $base-dimension !important; }
    .m#{$short}-#{$i} { margin-#{$long}: $i * $base-dimension !important; }
  }
}

@each $short, $dirs in $pairs {
  .m#{$short}-auto {
    @each $dir in $dirs { margin-#{$dir}: auto !important; }
  }
  .p#{$short}-auto {
    @each $dir in $dirs { padding-#{$dir}: auto !important; }
  }
}

.ant-layout {
  min-height: calc(100vh - 64px) !important;
}

/* Display */
.d-flex { display: flex !important; }

/* Float */
.float-left { float: left !important; }
.float-right { float: right !important; }